@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}


.light  {
    background: white;
    border-radius: 30px;
}

.light * {
    background: white;
    background-size: 35px 35px;
}


.dark  {
    background: rgba(70,70,70,1);
    color: white;
}

.dark  * {
    color: white;
    background: rgba(50,50,50,1)  6px 7px no-repeat;
    background-size: 35px 35px;
}
